<div class="page-content">
  <div class="container-fluid">
    <header class="section-header">
      <div class="tbl">
        <div class="tbl-row">
          <div class="tbl-cell">
            <h3>Анкеты пользователей</h3>
          </div>
        </div>
      </div>
    </header>
    <section class="box-typical">
      <header class="box-typical-header">
        <div class="tbl-row">
          <div class="tbl-cell tbl-cell-title">
            <h3>10 пользователей</h3>
          </div>
          <!-- <div class="tbl-cell tbl-cell-action-bordered">
            <button type="button" class="action-btn"><i class="font-icon font-icon-pencil"></i></button>
          </div>
          <div class="tbl-cell tbl-cell-action-bordered">
            <button type="button" class="action-btn"><i class="font-icon font-icon-re"></i></button>
          </div>
          <div class="tbl-cell tbl-cell-action-bordered">
            <button type="button" class="action-btn"><i class="font-icon font-icon-trash"></i></button>
          </div> -->
        </div>
      </header>
      <div class="box-typical-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="table-check">
                  <div class="checkbox checkbox-only">
                    <input type="checkbox" id="table-check-head"/>
                    <label for="table-check-head"></label>
                  </div>
                </th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th class="table-icon-cell">
                  <i class="font-icon font-icon-heart"></i>
                </th>
                <th class="table-icon-cell">
                  <i class="font-icon font-icon-comment"></i>
                </th>
                <th>Date Created</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-check">
                  <div class="checkbox checkbox-only">
                    <input type="checkbox" id="table-check-1"/>
                    <label for="table-check-1"></label>
                  </div>
                </td>
                <td>
                  Last quarter revene
                </td>
                <td class="color-blue-grey-lighter">vanhock@yandex.ru</td>
                <td class="color-blue-grey-lighter">+7(930)-353-76-95</td>
                <td class="table-icon-cell">
                  <i class="font-icon font-icon-heart"></i>
                  5
                </td>
                <td class="table-icon-cell">
                  <i class="font-icon font-icon-comment"></i>
                  24
                </td>
                <td class="table-date">6 minets ago <i class="font-icon font-icon-clock"></i></td>
                <td class="table-photo">
                  <img src="img/photo-64-1.jpg" alt="" data-toggle="tooltip" data-placement="bottom" title="Nicholas<br/>Barrett">
                </td>
                <td>
                  <div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                    <div class="btn-group btn-group-sm" style="float: none;">
                      <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </button>
                      <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                    </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div><!--.box-typical-body-->
    </section><!--.box-typical-->
  </div><!--.container-fluid-->
</div><!--.page-content-->
