<div class="page-content">
<header class="page-content-header">
  <div class="container-fluid">
    <div class="tbl">
      <div class="tbl-row">
        <div class="tbl-cell">
          <div class="container center-align users-search">
            <h2 class="text-center" style="margin: 30px 0 40px; color: #76838e;">
              Поиск содержанок для успешных мужчин
              <br />
            </h2>
            <form>
              <!-- Standard search -->
              <div class="row">
                <fieldset class="form-group col-sm-2">
                  <select class="select2">
                    <option selected>Девушку</option>
                    <option>Парня</option>
                  </select>
                </fieldset>

                <fieldset class="form-group  col-sm-3">
                  <select class="select2">
                    <option selected>Russia</option>
                    <option>USA</option>
                    <option>UK</option>
                  </select>
                </fieldset>

                <fieldset class="form-group  col-sm-3">
                  <select class="select2">
                    <option selected>Москва</option>
                    <option>Ивановская область</option>
                    <option>Ростов</option>
                  </select>
                </fieldset>

                <fieldset class="form-group  col-sm-3">
                  <div class="form-group range-slider-blue range-slider-simple">
                    <input type="text" id="range-slider-5" name="age" value="" />
                  </div>
                </fieldset>
                <fieldset class="form-group  col-sm-1">
                  <a href="#" class="btn btn-primary"><i class="fa fa-search"></i><span>&nbsp;&nbsp;Поиск</span></a>
                </fieldset>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header><!--.page-content-header-->
<div class="container-fluid">

  <div class="row card-user-grid">
    <div class="col-sm-6 col-md-4 col-xl-3">
      <article class="card-user box-typical">
        <div class="ribbon green right-top" data-tooltip="Проверенное фото" data-toggle="tooltip" data-title="Проверенное фото" data-placement="bottom" data-original-title="" title="">
            <i class="fa fa-check-square-o"></i>
        </div>
        <div class="card-user-photo">
          <a href="#"><img src="img/photo-184-1.jpg" alt=""></a>
        </div>
        <div class="card-user-name">Douglas Diaz</div>
        <div class="card-user-status text-muted">23 года, Иваново</div>
        <a href="#" class="btn btn-primary-outline btn-rounded">
          <i class="fa fa-envelope"></i>
          <span>Написать</span>
        </a>

      </article><!--.card-user-->
    </div>
  </div>
</div>
