<div class="page-content">
  <div class="profile-header-photo gradient" style="background-image: url(img/profile-bg.jpg)">
    <div class="profile-header-photo-in">
      <div class="tbl-cell">
        <div class="info-block">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-9 col-xl-offset-3 col-lg-8 col-lg-offset-4 col-md-offset-0">
                <div class="tbl info-tbl">
                  <div class="tbl-row">
                    <div class="tbl-cell">
                      <p class="title">Dan Counsell</p>
                      <p>Company Founder</p>
                    </div>
                    <div class="tbl-cell tbl-cell-stat">
                      <div class="inline-block">
                        <p class="title">23К</p>
                        <p>Visitors</p>
                      </div>
                    </div>
                    <div class="tbl-cell tbl-cell-stat">
                      <div class="inline-block">
                        <p class="title">938</p>
                        <p>Photos</p>
                      </div>
                    </div>
                    <div class="tbl-cell tbl-cell-stat">
                      <div class="inline-block">
                        <p class="title">18</p>
                        <p>Videos</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="change-cover">
      <i class="font-icon font-icon-picture-double"></i>
      Change cover
      <input type="file"/>
    </button>
  </div><!--.profile-header-photo-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-lg-4">
        <aside class="profile-side">
          <section class="box-typical profile-side-user">
            <div class="ribbon green right-top" data-tooltip="Проверенное фото" data-toggle="tooltip" data-title="Проверенное фото" data-placement="bottom" data-original-title="" title="">
                <i class="fa fa-check-square-o"></i>
            </div>
            <button type="button" class="avatar-preview avatar-preview-128">
              <img src="img/avatar-1-256.png" alt=""/>
              <span class="update">
                <i class="font-icon font-icon-picture-double"></i>
                Update photo
              </span>
              <input type="file"/>
            </button>

            <div class="btn-group" role="group">
              <button type="button" class="btn btn-rounded">Написать</button>
            </div>
            <button type="button" class="btn btn-rounded btn-success-outline">Позвонить</button>
            <div class="bottom-txt">Была онлайн 10 мин назад</div>
          </section>
          <section class="box-typical">
            <div class="box-typical-inner">
              <ul class="nav justify-content-center user-actions-menu">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="fa fa-star fa-hover"></i>
                    <span>В избранное</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="fa fa-ban fa-hover"></i>
                    <span>В игнор</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-success">
                    <i class="fa fa-ban fa-gift"></i>
                    <span>Подарить комплимент</span>
                  </a>
                </li>
              </ul>
            </div>
          </section>
          <section class="box-typical">
            <header class="box-typical-header-sm bordered">Внешность</header>
            <div class="box-typical-inner">
              <table class="user-page-table">
                <tr>
                  <td>
                    <b>Рост: </b>
                  </td>
                  <td>
                    170
                  </td>
                </tr>
                <tr>
                  <td><b>Вес: </b></td>
                  <td>60</td>
                </tr>
                <tr>
                  <td><b>Размер груди: </b></td>
                  <td>4</td>
                </tr>
                <tr>
                  <td><b>Цвет глаз: </b></td>
                  <td>карие</td>
                </tr>
                <tr>
                  <td><b>Цвет волос: </b></td>
                  <td>брюнетка</td>
                </tr>
                <tr>
                  <td><b>Внешность: </b></td>
                  <td>европейская</td>
                </tr>
                <tr>
                  <td><b>Телосложение: </b></td>
                  <td>спортивная</td>
                </tr>
              </table>
            </div>
          </section>
          <section class="box-typical">
            <header class="box-typical-header-sm bordered">Цели знаковства</header>
            <div class="box-typical-inner">
              <table class="user-page-table">
                <tr>
                  <td>
                    <b>Ищу спонсора </b>
                  </td>
                  <td>

                  </td>
                </tr>
                <tr>
                  <td><b>Провести вечер </b></td>
                  <td></td>
                </tr>
              </table>
            </div>
          </section>
          <section class="box-typical">
            <header class="box-typical-header-sm bordered">Сексуальные предпочтения</header>
            <div class="box-typical-inner">
              <table class="user-page-table">
                <tr>
                  <td>
                    <b>Как часто </b>
                  </td>
                  <td>
                    Несколько раз в неделю
                  </td>
                </tr>
                <tr>
                  <td><b>Интересует: </b></td>
                  <td>Классический</td>
                </tr>
              </table>
            </div>
          </section>
        </aside><!--.profile-side-->
      </div>
      <div class="col-xl-9 col-lg-8 p-t-md">
        <header class="section-header">
          <div class="tbl">
            <div class="tbl-row">
              <div class="tbl-cell">
                <h1>Алена, 21 год, Лев, Москва ... </h1>
              </div>
            </div>
          </div>
        </header>
        <section class=" box-typical profile-post">
          <header class="box-typical-header-sm bordered profile-post-header">Обо мне</header>
          <div class="box-typical-inner profile-post-content">
            <p>Здесь могла бы быть Ваша реклама и бла-бла-бла...
Дорогие мужчины, обращаюсь к вам) я не являюсь французской гетерой, поэтому не предлагайте мне провести с вами вечер/ночь за ваши кровно заработанные денежки))) подкупить меня можете своим острым умом, обаянием и любовью к творчеству Достоевского)))
На простое "приветкакдела" не отвечаю, нет фото в анкете-тогда я жду его в личных сообщениях.
И да, благодарю за внимание к моей персоне)</p>
          </div>
        </section>
        <section class=" box-typical profile-post">
          <header class="box-typical-header-sm bordered profile-post-header">Мои фото</header>
          <div class="profile-post-content">
            <p class="profile-post-content-note">Added 4 new pictures</p>
            <div class="profile-post-gall-fluid profile-post-gall-grid" data-columns>
              <div class="col">
                <a class="fancybox" rel="gall-1" href="img/gall-img-1.jpg">
                  <img src="img/gall-img-1.jpg" alt="">
                </a>
              </div>
              <div class="col">
                <a class="fancybox" rel="gall-1" href="img/gall-img-2.jpg">
                  <img src="img/gall-img-2.jpg" alt="">
                </a>
              </div>
              <div class="col">
                <a class="fancybox" rel="gall-1" href="img/gall-img-3.jpg">
                  <img src="img/gall-img-3.jpg" alt="">
                </a>
              </div>
              <div class="col">
                <a class="fancybox" rel="gall-1" href="img/gall-img-4.jpg">
                  <img src="img/gall-img-4.jpg" alt="">
                </a>
              </div>
              <div class="col">
                <a class="fancybox" rel="gall-1" href="img/gall-img-5.jpg">
                  <img src="img/gall-img-5.jpg" alt="">
                </a>
              </div>
              <div class="col">
                <a class="fancybox" rel="gall-1" href="img/gall-img-6.jpg">
                  <img src="img/gall-img-6.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div><!--.row-->
</div>
