
<div class="page-content">
  <div class="container-fluid">
    <header class="section-header">
      <div class="tbl">
        <div class="tbl-row">
          <div class="tbl-cell">
            <h3>Редактирование Анкеты</h3>
            <ol class="breadcrumb breadcrumb-simple">
              <li><a href="#">Анкеты пользователей</a></li>
              <li class="active">#</li>
            </ol>
          </div>
        </div>
      </div>
    </header>
    <section class="card">
      <div class="card-block">
        <form>
          <div class="col-md-6">
            <h5 class="m-t-lg with-border">Данные пользователя</h5>
            <div class="row">
      				<fieldset class="form-group col-sm-12">
      					<label class="form-label semibold" for="exampleInput">First Name</label>
      					<input type="text" class="form-control" id="exampleInput" placeholder="First Name">
      				</fieldset>

      				<fieldset class="form-group  col-sm-12">
      					<label class="form-label" for="exampleInputEmail1">Email address</label>
      					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="mail@mail.com">
      				</fieldset>

      				<fieldset class="form-group  col-sm-12">
      					<label class="form-label" for="exampleInputPassword1">Password</label>
      					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      				</fieldset>
    				</div><!--.row-->

          </div>

          <div class="col-md-6">
            <h5 class="m-t-lg with-border">Основная информация</h5>
            <div class="row">
    					<div class="col-lg-4">
    						<fieldset class="form-group">
    							<label class="form-label semibold" for="exampleInput">Пол</label>
                  <select class="select2">
    								<option data-content='<span class="fa fa-lg fa-male"></span>&nbsp;Мужчина'>Мужчина</option>
    								<option data-content='<span class="fa fa-lg fa-female"></span>&nbsp;Женщина'>Женщина</option>
    							</select>
    						</fieldset>
    					</div>
    					<div class="col-lg-4">
    						<fieldset class="form-group">
    							<label class="form-label" for="exampleInputEmail1">Дата рождения</label>
    							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
    						</fieldset>
    					</div>
              <div class="col-lg-4">

              </div>
              <div class="col-lg-6">
    						<fieldset class="form-group">
    							<label class="form-label" for="exampleInputPassword1">Страна</label>
                  <select class="select2">
    								<option>Russia</option>
    								<option>United Kingdom</option>
    								<option>USA</option>
    								<option>China</option>
    								<option>Poland</option>
    							</select>
    						</fieldset>
              </div>
              <div class="col-lg-6">
    						<fieldset class="form-group">
    							<label class="form-label" for="exampleInputPassword1">Регион</label>
                                <select class="select2">
    								<option>Московская область</option>
    								<option>Москва</option>
    								<option>Ивановская область</option>
    								<option>Костромская область</option>
    								<option>Ростов-на-дону</option>
    							</select>
    						</fieldset>
              </div>
              <div class="col-xs-12">
  							<fieldset class="form-group">
  								<label class="form-label" for="exampleInputEmail1">О себе</label>
  								<textarea rows="4" class="form-control" placeholder="Press Enter" data-autosize></textarea>
  							</fieldset>
  						</div>
    				</div><!--.row-->
          </div>

          <div class="col-md-12">
            <h5 class="m-t-lg with-border">Внешность и параметры</h5>
            <div class="row">
              <fieldset class="form-group col-md-3">
                <label class="form-label" for="exampleInputEmail1">Рост</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
              </fieldset>
              <fieldset class="form-group col-md-3">
                <label class="form-label" for="exampleInputEmail1">Вес</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
              </fieldset>
              <fieldset class="form-group col-md-3">
                <label class="form-label" for="exampleInputEmail1">Телосложение</label>
                <select class="select2">
  								<option>Худощавая</option>
  								<option selected>Стандартная</option>
  								<option>Мускулистая</option>
  								<option>Спортивная</option>
                  <option>Плотная</option>
                  <option>Полная</option>
  							</select>
              </fieldset>
              <fieldset class="form-group col-md-3">
                <label class="form-label" for="exampleInputEmail1">Внешность</label>
                <select class="select2">
  								<option>Европейская</option>
  								<option selected>Азиатская</option>
  								<option>Кавказская</option>
  								<option>Индийская</option>
                  <option>Смешанная</option>
                  <option>Ближневосточная</option>
                  <option>Темнокожая</option>
  							</select>
              </fieldset>
            </div>
            <div class="row">
              <fieldset class="form-group col-md-4">
                <label class="form-label" for="exampleInputEmail1">Цвет волос</label>
                <select class="select2">
  								<option>Блондинка</option>
  								<option>Брюнетка</option>
  								<option>Рыжая</option>
  							</select>
              </fieldset>
              <fieldset class="form-group col-md-4">
                <label class="form-label" for="exampleInputEmail1">Цвет глаз</label>
                <select class="select2">
  								<option>Голубые</option>
  								<option>Зеленые</option>
  								<option>Карие</option>
                  <option>Серые</option>
  							</select>
              </fieldset>
              <fieldset class="form-group col-md-4">
                <label class="form-label" for="exampleInputEmail1">Размер груди</label>
                <select class="select2">
  								<option>1</option>
  								<option>2</option>
  								<option>3</option>
                  <option>4</option>
                  <option>5</option>
  							</select>
              </fieldset>
            </div>
          </div>

          <div class="col-md-12">
            <h5 class="m-t-lg with-border">Сексуальные предпочтения</h5>
            <div class="row">
              <fieldset class="form-group col-md-4">
                <label class="form-label" for="exampleInputEmail1">Периодичность</label>
                <select class="select2">
  								<option>Несколько раз в день</option>
  								<option>Хотябы раз в день</option>
  								<option>Несколько раз в неделю</option>
  								<option>Несколько раз в месяц</option>
                  <option>Секс не очень важен</option>
  							</select>
              </fieldset>
              <fieldset class="form-group col-md-4">
                <label class="form-label" for="exampleInputEmail1">Роль в сексе</label>
                <select class="select2">
  								<option>Актив </option>
  								<option>Пассив</option>
  								<option>Бревно</option>
  							</select>
              </fieldset>
              <fieldset class="form-group col-md-4">
                <label class="form-label" for="exampleInputEmail1">Виды секса</label>
                <select class="select2" multiple="multiple">
  								<option>Групповой</option>
  								<option>Анальный </option>
  								<option>Оральный </option>
  								<option>Классический</option>
                  <option>Виртуальный</option>
  							</select>
              </fieldset>
            </div>
          </div>
          <div class="col-md-12">
            <h5 class="m-t-lg with-border">Цели знакомства</h5>
            <div class="row">
              <fieldset class="form-group col-md-6">
                <select class="select2" multiple="multiple">
  								<option>Ищу спонсора</option>
  								<option selected>Постоянные отношения</option>
  								<option>Провести вечер</option>
  								<option>Совместные путешествия</option>
  							</select>
              </fieldset>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <section class="profile-side-user">
  							<button type="button" class="avatar-preview avatar-preview-128">
  								<img src="img/avatar-1-256.png" alt=""/>
  								<span class="update">
  									<i class="font-icon font-icon-picture-double"></i>
  									Update photo
  								</span>
  								<input type="file"/>
  							</button>
  							<div class="bottom-txt">Аватар пользователя</div>
  						</section>
              <button type="button" class="btn btn-inline btn-success">Save changes</button>
              <button type="button" class="btn btn-inline btn-secondary">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div> <!-- Container Fluid -->
</div>  <!-- Page content -->
