@import '../partials/mixins';
@import '../partials/vars';

/* ==========================================================================
   Chat
   ========================================================================== */

// Анимация ручки
@keyframes writing {
   0%   { left: 0px; }
   100% { left: 6px; }
}

/* user-notes Заметки пользователя, пока временно здесь, потом нужно объявить глобально*/

.user-notes {
   font-size: 20px;
   margin: 16px 0 0 10px;
   display: inline-block;
}

// Чат
.chat-container { .clearfix(); }
.chat-list { float: left; width: 300px; position: relative; z-index: 2; }
.chat-area { float: right; width: 100%; margin-left: -300px; }
.chat-area-in { margin-left: 300px; border-left: solid 1px @color-border-light; }
@media (max-width: @sm-max-width) {
   .chat-list { float: none; width: auto; }
   .chat-area { float: none; width: auto; margin-left: 0; }
   .chat-area-in { margin-left: 0; border-left: none; }
}

// Dialogs list
.chat-list-search { height: 61px; border-bottom: solid 1px @color-border-light; padding: 13px 15px;
   .form-control { height: 34px; padding: 8px 15px; }
}

.chat-list-item { display: block; padding: 11px 15px 11px 56px; position: relative; font-size: .9375rem /*15/16*/; line-height: 20px; cursor: default; .hover_animate(); max-width: 100%; min-height: 52px;
   .chat-list-item-photo { position: absolute; left: 15px; top: 15px; width: 32px; height: 32px;
      img { display: block; width: 100%; height: 100%; border-radius: 50%; }
      .chat-list-item-photo-hover {
         display: none;
         position: absolute;
         width: 100%;
         height: 100%;
         background: rgba(255, 255, 255, 0.68);
         z-index: 1;
         border-radius: 50%;

         i {
            position: absolute;
            color: rgba(134, 133, 133, 0.47);
            z-index: 2;
            left: 1.8px;
            top: 0;
            font-size: 34px;
         }
      }

      &:hover {
         .chat-list-item-photo-hover {
            display: block;
         }
      }

   }
   &.selected {
      .chat-list-item-photo{
         .chat-list-item-photo-hover {
            display: block;
            i {
               color: #00a8ff;
            }
         }
      }
   }

   .chat-list-item-header { position: relative; padding: 0 45px 0 0; }
   .chat-list-item-name { display: inline-block; vertical-align: top; font-weight: 600; padding: 0 12px 0 0; position: relative; max-width: 100%;
      .name { display: inline-block; vertical-align: top; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 100%; }
      :before { content: ''; width: 6px; height: 6px; border-radius: 50%; display: block; position: absolute; right: 0; top: 50%; margin-top: -3px;  background: #e0e0e0; }
   }
   .chat-list-item-date { font-size: .875rem; position: absolute; right: 0; top: 0; color: @color-grey-blue-lighter-txt;  }

   .chat-list-item-cont { position: relative; padding: 0 45px 0 0; }
   .chat-list-item-txt { width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
      &.writing { color: @color-grey-blue-lighter-txt; }
      .icon { position: relative; display: inline-block; vertical-align: top; width: 20px; }
      .font-icon { color: @color-grey; position: absolute; left: 0; top: 0; animation-name: writing; animation-duration: 1.2s; animation-iteration-count: infinite; }
   }
   .chat-list-item-count,
   .chat-list-item-dot { position: absolute; right: 0; top: 50%; }
   .chat-list-item-count { height: 18px; line-height: 18px; padding: 0 4px; text-align: center; min-width: 18px; border-radius: 9px; color: #fff; font-weight: 600; margin-top: -9px; background: @color-red; font-size: .8125rem; }
   .chat-list-item-dot { width: 6px; height: 6px; margin-top: -3px; border-radius: 50%; background: @color-grey; }

   // Online
   &.online {
      .chat-list-item-name .name:before {background: @color-green; }
   }

   // Hover, selected
   &:hover { background-color: @color-bg-grey; }


   &.active, &.active:hover {
      background-color: #00a8ff;
      color: #fff !important;

      .chat-list-item-date, .chat-list-item-txt {
         color: #e5e8ea;
      }

      .chat-list-item-name .name:before {
         background-color: #cec9c9;
      }

      &.online  .chat-list-item-name .name:before {
         background-color: #05e632;
      }

   }

}
.chat-list-in {
   min-height: 300px !important;
}

@media (max-width: @sm-max-width) {
   .chat-list-in { height: 200px !important; border-bottom: solid 1px @color-border-light; }
}

// Dialog area
.chat-area-header { height: 61px; border-bottom: solid 1px @color-border-light; position: relative; padding: 0 120px 0 0;
   .chat-list-item { margin: -1px 0;  float: left}
   .chat-area-header-action { width: 120px;  position: absolute; right: 15px; top: 0; padding: 20px 0; text-align: right; }
   .clean { text-align: center; line-height: 60px; font-weight: 600; font-size: 1rem; margin-right: -105px; }
}

.chat-area-bottom { padding: 15px; border-top: solid 1px @color-border-light; .clearfix(); position: relative;
   .caption, .btn { margin: 2px 12px 2px 0; }
   .caption { display: inline-block; padding: .375rem 0 .375rem 42px; font-size: 1rem; line-height: 1.5; text-align: center; vertical-align: middle; }
   .attach { float: right; position: relative; top: 11px; }
   .write-message { position: relative; padding: 0 0 0 42px;
      .form-group { margin-bottom: 10px; }
      .avatar { position: absolute; left: -3px; top: 0; width: 32px; height: 32px;
         img { display: block; width: 100%; height: 100%; border-radius: 50%; }
      }
   }

   @media (max-width: @lg-max-width) {
      .caption { padding-left: 0; }
   }
}

.chat-dialog-area { min-height: 200px;
   @media (max-width: @sm-max-width) { height: 200px !important; }

   .vue-scrollbar__wrapper {
      background: rgba(255, 251, 251, 0.64);
   }
   
}

.chat-message { position: relative; padding: 11px 65px 11px 100px; font-size: .9375rem /*13/16*/; min-height: 52px; line-height: 20px;
   .chat-message-photo { position: absolute; left: 57px; top: 15px; width: 32px; height: 32px;
      img { display: block; width: 100%; height: 100%; border-radius: 50%; }
   }
   .chat-message-header { display: table; width: 100%;
      .tbl-cell { vertical-align: middle; }
      .tbl-cell-name { font-weight: 600; }
      .tbl-cell-date { color: @color-grey-blue-lighter-txt; text-align: right; white-space: nowrap; width: 10px; padding-left: 10px; font-size: .875rem; }
   }
   .chat-message-content { }
   .chat-message-txt { }
   .checkbox-bird { display: none; position: absolute; left: 21px; top: 22px; }
   &:not(.self) {
      &:hover, &.selected {
         .checkbox-bird { display: block; }
      }
      &.selected {
         background-color: @color-bg-grey;
      }
   }


   // Quote
   &.quote { border-left: solid 4px @color-border-light; padding-left: 44px; padding-top: 0; padding-bottom: 0; padding-right: 0; min-height: 24px; margin: 10px 0 0;
      .chat-message-photo { width: 24px; height: 24px; left: 10px; top: 0;  }
      .chat-message-header { }
   }
}

.chat-dialog-clean { display: table; width: 100%; height: 100%; text-align: center;
   .chat-dialog-clean-in { display: table-cell; vertical-align: middle; padding: 10px 10px 25px; }
   .font-icon { color: @color-grey; font-size: 6rem; line-height: 1; }
   .caption { font-size: 1.25rem; font-weight: 600; margin: 0 0 .5rem 0; }
   .txt { color: @color-grey-blue-lighter-txt; max-width: 340px; margin: 0 auto; }
}

.chat-list-folders {
   padding: 13px 15px;
   &__header {
      margin-bottom: 5px;
      & > * {
         display: block;
      }
      & > span {
         font-size: 18px;
         color: #919fa9;
         float: left;
      }

      .folder-controls {
         float: right;
         text-align: center;
         margin-right: 5px;
      }

      &:first-child {
         margin-right:0;
      }
   }
   .select2-search__field {
      display: none
   }

   .action-buttons {
      .btn {
         margin-bottom: 10px;
      }
   }

}

.message-box {
   position: relative;
   height: 80px;
   overflow-y: auto;
}

.user-notes-add {
   position: absolute;
   top: 61px;
   left: 0;
   width: 100%;
   background-color: #fff;
   padding: 15px 10px;
   box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.12);
   z-index: 5;
}

.user-notes-controls {
   text-align: right;
   margin-top: 15px;

   .btn {
      margin-right: 7px;
   }
}

.chat-dialog-area {
   position: relative;
   .chat-smiles {
      position: absolute;
      bottom: 5px;
      right: 5px
   }
}

.my-scrollbar {
   max-height: 400px;
}

.scroll-to-last-messages {
   width: 45px;
   height: 45px;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   background-color: #fffdfd;
   -webkit-box-shadow: 5px 0 0 5px rgba(0,0,0,.4);
   box-shadow: 0 1px 2px 0 rgba(0,0,0,.23);
   text-align: center;
   position: absolute;
   bottom: 18px;
   right: 25px;
   vertical-align: middle;
   color: #99b0bb;
   border: 0;
   font-size: 34px;

   i {
      margin-top: 7px;
   }

   &:hover {
      background-color:#f7f0f0;
   }
}

.chat-notify {
   position: fixed;
   bottom: 10px;
   right: 30px;
   z-index: 5;
   width: 300px;

   &-list {
      li.chat-list-item {
         background-color: #fff;
         box-shadow: 0 3px 8px -1px rgba(0, 0, 0, .4);
         margin-top: 10px;
      }
   }

}

// Chat modal

.modal-dialog.chat-modal {
   margin: 5px auto;
   .modal-body {
      padding: 0;
   }

   .modal-close {
      top: 5px;
      background: #fff;
      padding: 7px 8px 3px 8px;
      border-radius: 50%;
      z-index: 7;
      border: 1px solid;
      right: 5px;
   }

   .chat-container {
      margin: 0;
   }

   .modal-content {
      background-color: transparent;
      padding: 20px;
      border: 0;
   }
}






