#profile-gallery {
  .add-customers-screen {
    border-left: 1px solid rgb(216, 226, 231);
  }
}
.profile-gallery {
  &__list {
    .gallery-item {
      position: relative;
      margin: 10px 0;
      transition: all 0.3s;
      height: 170px;
      display: block;
      &__image {
        display: block;
        height: 170px;
        background-size: cover;
        background-position: center;
      }

      &__delete {
        top: -15px;
      }

      &__set-avatar {
        top: 30px;
        color: #00a8ff !important;
      }

      .gallery-action-btn {
        position: absolute;
        visibility: hidden;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        padding: 7px 9px 3px 8px;
        transform: scale(0);
        transition: 0.2s;
        cursor: pointer;
        right: -5px;

        &:hover i {
          opacity: 0.8;
        }
      }

      &:hover {
        .gallery-action-btn {
          visibility: visible;
          transform: scale(1);
          transition: 0.2s;
        }
      }
    }
  }

  .upload-btn {
    margin-bottom: 0;
  }
}

.list-photos-enter, .list-photos-leave-to
  /* .list-complete-leave-active для <2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-photos-leave-active {
  position: absolute;
}

.list-photos-move {
  transition: transform 0.3s;
}