<template>

    <div class="box-typical chat-container">

        <section class="chat-list">
            <div class="chat-list-search">
                <input type="text" class="form-control form-control-rounded" placeholder="Search" v-model="searchField"/>
            </div><!--.chat-list-search-->
            <div class="chat-list-in">
                <scroll-bar custom-class="my-scrollbar" ref="Scrollbar">
                    <div class="scroll-me">
                        <div class="chat-list-item"  :class="{online:user.online, selected: selectedUsers.indexOf(user) > -1, active:user.is_selected}" v-for="user in filterUserList" v-on:click="selectedUsers.length === 0 ? selectChat(user.chat_id) : ''">
                            <div class="chat-list-item-photo">
                                <div class="chat-list-item-photo-hover" @click="selectUsers(user)">
                                    <i class="fa fa-check-circle"></i>
                                </div>
                                <img v-bind:src="user.avatar" alt="">
                            </div>
                            <div class="chat-list-item-header">
                                <div class="chat-list-item-name">
                                    <span class="name">{{user.user_name}}</span>
                                </div>
                                <div class="chat-list-item-date">{{user.last_seen}}</div>
                            </div>
                            <div class="chat-list-item-cont">
                                <div class="chat-list-item-txt" :class="user.typing ? 'writing' : ''">
                                    <div class="icon" v-if="user.typing">
                                        <i class="font-icon font-icon-pencil-thin"></i>
                                    </div>
                                    <span v-if="user.typing">{{user.user_name}} typing a message</span>
                                    <div v-if="!user.typing">{{user.last_message ? user.last_message : '&nbsp;'}}</div>
                                </div>
                                <div v-if="user.unread_count > 0" class="chat-list-item-count">{{user.unread_count}}</div>
                            </div>
                        </div><!--.chat-message-->
                    </div>

                </scroll-bar>
            </div><!--.chat-list-in-->


            <div class="chat-list-folders">

                <div v-if="selectedUsers.length > 0">
                    <div class="chat-list-folders__header clearfix">
                        <span>Selected {{selectedUsers.length}} users</span>
                    </div>
                    <div class="action-buttons">
                        <button class="btn btn-default btn-rounded btn-sm" @click="changeFolder()">Add to folder</button>
                        <button class="btn btn-default btn-rounded btn-sm" @click="changeFolder('',true)">Remove from folder</button>
                        <button class="btn btn-warning btn-rounded btn-sm" @click="removeUser()">Remove</button>
                        <button class="btn btn-danger btn-rounded btn-sm" @click="changeFolder(4)">Block user</button>
                    </div>
                    <select2 ref="folder_selector"
                             :options="folder_options_filtered"
                             v-model="folder_selected"
                             :search="false">
                    </select2>
                </div>
                <div v-else>
                    <div class="chat-list-folders__header clearfix">
                        <span v-if="!isEditOpen">My folders</span>
                        <span v-if="isEditOpen">Edit folders</span>
                        <button type="button" class="btn btn-sm btn-default folder-remove folder-controls"
                                data-tooltip="Cancel editing and return to folders selection"
                                data-toggle="tooltip"
                                data-placement="top"
                                data-original-title=""
                                title=""
                                v-if="isEditOpen"
                                @click="isEditOpen = false">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-sm btn-default folder-remove folder-controls"
                                data-tooltip="Remove folder"
                                data-toggle="tooltip"
                                data-title="Remove folder"
                                data-placement="top"
                                data-original-title=""
                                title=""
                                v-if="show_folder_controls && !isEditOpen"
                                @click="removeFolder()">
                            <i class="fa fa-remove"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-default folder-edit folder-controls"
                                data-tooltip="Edit folder"
                                data-toggle="tooltip"
                                data-title="Edit folder"
                                data-placement="top"
                                data-original-title=""
                                title=""
                                v-if="show_folder_controls && !isEditOpen"
                                @click="openFolderInput(true)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-default folder-add folder-controls"
                                data-tooltip="Add new folder"
                                data-toggle="tooltip"
                                data-title="Add new folder"
                                data-placement="top"
                                data-original-title=""
                                title=""
                                v-if="!isEditOpen"
                                @click="openFolderInput()">
                            <i class="fa fa-plus-circle"></i>
                        </button>
                    </div>
                    <input type="text"
                           class="form-control"
                           id="folder-edit"
                           placeholder="Type and press Enter"
                           v-if="isEditOpen"
                           v-model="folderEditField"
                           v-on:keyup.13="updateFolder(folderEditField)" />
                    <select2 ref="folder_selector"
                             v-if="!isEditOpen"
                             :input="folderChange()"
                             :options="folder_options"
                             v-model="folder_selected"
                             :search="false">
                    </select2>
                </div>
            </div>
        </section><!--.chat-list-->

        <section class="chat-area">
            <div class="chat-area-in">
                <div class="chat-area-header">
                    <div class="chat-list-item"
                        :class="currentChat ? currentChat.online ? 'online' : '' : ''">
                        <!--<div v-if="currentChat" class="chat-list-item-photo">-->
                        <div  class="chat-list-item-photo">
                            <img v-bind:src="currentChat ? currentChat.avatar : undefined" alt="">
                        </div>
                        <div class="chat-list-item-name">
                            <span class="name">{{currentChat ? currentChat.user_name : ''}}</span>
                        </div>
                        <div class="chat-list-item-txt writing">{{currentChat ? currentChat.last_seen: ''}}</div>
                    </div>
                    <!--<a v-if="currentChat" href="#" class="user-notes"-->
                    <a href="#" class="user-notes"
                       :data-tooltip="currentChat.comment"
                       data-toggle="tooltip"
                       :data-title="currentChat.comment"
                       data-placement="bottom"
                       :data-original-title="currentChat.comment"
                       v-if="currentChat ? currentChat.length !== 0 : false"
                       @click="userNoteInputToggle(true)">
                        <i class="fa fa-commenting-o fa-hover"></i>
                    </a>
                    <div class="user-notes-add" v-if="isUnEdit">
                        <textarea class="form-control" placeholder="Type user note here..." v-model="userNoteText" @keyup.13="addUserNote(userNoteText)">{{currentChat ? currentChat.comment : ''}}</textarea>
                        <div class="user-notes-controls">
                            <button type="button" @click="addUserNote(userNoteText)" class="btn">Add</button>
                            <button type="button" @click="userNoteInputToggle()" class="btn btn-default-outline">Cancel</button>
                        </div>
                    </div>
                    <div v-if="currentChat" class="chat-area-header-action">
                    <!--<div v-if="currentChat" class="chat-area-header-action">-->
                        <div class="dropdown dropdown-typical">
                            <a class="dropdown-toggle dropdown-toggle-txt" id="dd-chat-action" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="lbl">Actions</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-chat-action">
                                <a class="dropdown-item no-nowrap" href="#">Delete&nbsp;conversation</a>
                                <a class="dropdown-item no-nowrap" href="#">Report spam</a>
                            </div>
                        </div>
                    </div>
                </div><!--.chat-area-header-->

                <div class="chat-dialog-area">
                    <scroll-bar
                            custom-class="chat-scrollbar"
                            ref="messagesList"
                            :speed="170">
                        <div class="scroll-me" @wheel="onScrollBar($event)">
                            <div class="chat-message"
                                 v-show="showMessages"
                                 v-for="(message, index) in currentMessages"
                                 :class="selectedMessages.indexOf(message) > -1 ? 'selected' : ''" >
                                <div class="checkbox-bird">
                                    <input type="checkbox" :id="'mess-' + index" @click="selectMessage(message)" />
                                    <label :for="'mess-' + index"></label>
                                </div>
                                <div class="chat-message-photo">
                                    <img v-bind:src="message.avatar" alt="">
                                </div>
                                <div class="chat-message-header">
                                    <div class="tbl-row">
                                        <div class="tbl-cell tbl-cell-name">{{message.user_name}}</div>
                                        <div class="tbl-cell tbl-cell-date">{{getFormattedDateFor(message.created_at)}}</div>
                                    </div>
                                </div>
                                <div class="chat-message-content">
                                    <div class="chat-message-txt" v-html="message.text"></div>
                                </div>
                            </div><!--.chat-message-->
                            <div style="height: 80px"></div>
                        </div>
                    </scroll-bar>
                    <button class="scroll-to-last-messages"
                            v-if="currentChat && currentChat != undefined && showScrollButton"
                            @click="scrollDownMessages()">
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <div class="chat-smiles"  v-show='openSmiles'>
                        <vue-emoji
                                v-show = 'openSmiles'
                                ref = 'emoji'
                                :pannels="captions"
                                @select = 'openSmiles = false'
                                @hide = 'handleHide'
                        ></vue-emoji>
                    </div>
                </div><!--.chat-dialog-area-->

                <div class="chat-area-bottom" v-show="selectedMessages.length > 0">
                    <p class="caption">Selected <strong>{{selectedMessages.length}}</strong> messages:</p>
                    <button type="button" class="btn btn-rounded" @click="deleteMessage()">Delete</button>
                    <button type="button" class="btn btn-rounded" v-show="selectedMessages.length == 1" @click="editMessage()">Edit</button>
                    <button type="button" class="btn btn-rounded btn-default" @click="clearSelected()">Cancel</button>
                </div>
                <div class="chat-area-bottom" v-show="selectedMessages.length <= 0">
                    <form class="write-message">
                        <div class="avatar">
                            <img v-bind:src="getMyAvatar()" alt="">
                        </div>
                        <div class="form-group">
                            <div    contenteditable="true"
                                    ref="edit"
                                    @keydown="textChanged($event)"
                                    @keydown.enter="sendMessage(messageText,$event)"
                                    @focus="textChanged($event)"
                                    @blur="textChanged($event)"
                                    class="message-box form-control" focus>
                            </div>
                        </div>
                        <button type="button" class="btn btn-rounded float-left" @click="sendMessage(messageText, $event)">Send</button>
                        <button type="button" class="btn btn-rounded btn-default float-left">Clear</button>
                        <div class="dropdown dropdown-typical dropup attach">
                            <a class="dropdown-toggle dropdown-toggle-txt"
                               id="dd-chat-attach"
                               data-target="#"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false"
                               @click="openSmilesToggle()" ref="btn">
                                <span class="lbl">Add smile</span>
                            </a>

                        </div>
                    </form>
                </div><!--.chat-area-bottom-->
            </div><!--.chat-area-in-->
        </section><!--.chat-area-->

    </div><!--.chat-container-->

</template>

<script>
    import socketio from 'socket.io-client';
    import VueSocketIo from 'vue-socket.io'
    import select2 from '../select2'
    import vueEmoji from './vue-emoji'
    import scrollBar from '../scrollbar/index'
    import _ from 'lodash'
    import Mock from './mock'
    import ApiMixin from './mixins/api'
    import UtilsMixin from './mixins/utils'
    import mainApp from '../mainHub.js'
    let vm = new Vue();

    /**
     * Pure socket.io intance use cause in our vue vue-socket.io missing 'this' and can't handle socket events as shown in docs
     **/
    const CinderellaChatSocketIO = socketio('https://ics-test.tmweb.ru:8004/chat', {transports: ['websocket']});

    export default {
        mixins: [ApiMixin, UtilsMixin],
        components: {
            select2,
            vueEmoji,
            scrollBar
        },
        data() {
            return {
                showChatModal: false,
                currentUserId: '',
                messages: {},
                currentMessages: Mock.currentMessages,
                selectedMessages:[],
                messageText: '',
                //Folders
                folder_options: Mock.folder_options,
                folder_selected: 0,
                currentChat: null,
                show_folder_controls: false,
                isEditOpen: false,
                isFolderEdit: false,
                folderEditField: '',
                isMessageEditing: false,
                editedMessageId: -1,
                //Users
                chats: Mock.chats,
                default_male_avatar: '/frontend/img/avatar-1-298.jpg',
                default_female_avatar: '/frontend/img/avatar-3-298.jpg',
                selectedUsers: [],
                searchField: '',
                showMessages: true,
                unreadCount: 0,
                //User-notes
                userNoteText: '',
                isUnEdit: false,
                //Smiles
                openSmiles: false,
                currentSmile: '',
                captions: ['Expressions', 'Nature', 'Goods', 'Locations', 'Symbol'],
                showEmoji: false,
                caretPos: null,
                //Scrollbar
                styling: {
                    scrollbar_users: {
                        minWidth: "300px",
                        maxHeight: "591px"
                    },
                    scrollbar_messages: {
                        minWidth: "300px",
                        maxHeight: "523px"
                    }
                },
                areaPos: 0,
                wrapperPos: 0,
                showScrollButton: false,
                //Notifications
                messagesNotifications: []
            }
        },
        mounted () {
            this.$refs.emoji.appendTo({
                area: this.$refs.edit,
                btn: this.$refs.btn,
                position: 'top left'
            });


        },
        created: function() {
            this.getChats();
            this.getFolders();
            this.onScrollBar();

            CinderellaChatSocketIO.on(this.$options.socketEvents.CONNECTION, () => {
                //console.log('Chat Socket Connected');
                
                CinderellaChatSocketIO.on(this.$options.socketEvents.AUTH_SUCCESS, () => {
                    //console.log('Chat Client Authenticated Successfully');
                    
                    CinderellaChatSocketIO.on(this.$options.socketEvents.SEND_MESSAGE, this.newMessage);
                    CinderellaChatSocketIO.on(this.$options.socketEvents.TYPING, this.onTypingToMe);
                    CinderellaChatSocketIO.on(this.$options.socketEvents.DELETE_MESSAGE, this.onMessageDelete);
                    CinderellaChatSocketIO.on(this.$options.socketEvents.EDIT_MESSAGE, this.onMessageEdited);
                });

                CinderellaChatSocketIO.emit(this.$options.socketEvents.AUTH, JSON.stringify({userId: window.currentUserId, accessToken: window.accessToken}));
            });
        },
        socketEvents: {
            CONNECTION: 'connect',
            AUTH: 'auth',
            AUTH_SUCCESS: 'auth-success',
            SEND_MESSAGE: 'send-message',
            TYPING: 'typing',
            READ_MESSAGE: 'read-message',
            DELETE_MESSAGE: 'delete-message',
            EDIT_MESSAGE: 'edit-message'
        },
        watch: {
            'messageText': function() {
                this.typing();
            }
        },
        computed: {
            filterUserList:function () {
                //return this.chats;
                let $this = this,
                    data = $this.chats,
                    search = $this.searchField.toLowerCase(),
                    u = $this.selectedUsers.length > 0;

                if(!u && $this.folder_selected !== '') {
                    data = data.filter(function (item) {
                        let f = item.folder_id.indexOf(parseInt($this.folder_selected)) !== -1,
                            s = item.user_name.toLowerCase().indexOf(search)!== -1;

                        return search !== '' ? s && f : f;
                    });
                }

                console.log('Data: ' + data);
                return data;
            },
            folder_options_filtered: function () {
                // folders without all
                let f = this.folder_options,
                    s = this.folder_selected;

                if (parseInt(s) === 0) this.folder_selected = 2;

                return f = f.filter(function (item) {
                    return item.id !== 0 && item.id !== 3 && item.id !== 4;
                });
            },
            unreadCount: function () {
                return this.chats.reduce((sum, current) => sum + current.unread_count, 0);
            }
        },
        methods: {
            hide () {
                this.showEmoji = false;
            },
            handleHide (e) {
                this.hide();
            },
            //Messages
            /**
             * Create chat if allowed after ChatButton click
             **/
            createChat: function(user_id) {
                console.log('CreateChat Call');
                this.showChatModal = true;
                for (let user of this.chats) {
                    if (user.user_id == user_id) {
                        console.log('ChatFounded-CreationAborted');

                        this.selectChat(user.chat_id);

                        return;
                    }
                }

                if(user_id) {
                    this.currentUserId = user_id;

                    this.getUserFromApi(this.currentUserId, (user) => {
                        this.chats.unshift({
                            user_id: this.currentUserId,
                            chat_id: -1,
                            user_name: user.name,
                            online: user.is_online,
                            gender: user.gender,
                            avatar: user.avatar_src ? user.avatar_src :
                                    user.gender == 'male' ? this.default_male_avatar : this.default_female_avatar,
                                    //something wrong with avatar
                            last_seen: 'never',
                            typing: false,
                            folder_id: [1],
                            unread_count: 0,
                            is_selected: false,
                            comment: '',
                            is_real: false
                        });

                        this.selectChat(-1);
                    });
                }
            },
            closeChat: function () {
                this.showChatModal = false;
            },
            /**
             * Make chat active
             *
             * @param {int} chatId
             * */
            selectChat: function(chatId) {
                //console.log('SelectChat Call');

                let oldChatId = this.currentChat ? this.currentChat.chat_id : null;

                for (let chat of this.chats) {
                    if (chat.chat_id == chatId && !chat._is_selected) {
                        chat.is_selected = true;
                        chat.unread_count = 0;
                        this.currentChat = chat;
                    } else if (chat.chat_id != chatId && chat.is_selected) {
                        chat.is_selected = false;
                    }
                }

                if (this.currentChat === null) {
                    return;
                }

                if (oldChatId != this.currentChat.chat_id) {
                    this.getMessages(chatId);
                }

                this.recalcScroll();

                if (this.currentChat.comment === '') {
                    this.getCommentForUser(this.currentChat.user_id);
                }
            },
            onTypingToMe: function(data) {
                console.log('OnTypingToMe Event Call');

                console.log(data);

                data = JSON.parse(data);

                const userId = data.senderId;

                let chat = this.getChatByUserId(userId);

                if (!chat) {
                    console.log('Typed Chat Not Found');

                    return;
                }

                chat.typing = true;

                if (chat.typing_timeout) {
                    clearTimeout(chat.typing_timeout);
                }

                chat.typing_timeout = setTimeout(function(chat) {
                    chat.typing = false;

                    if (chat.typing_timeout) {
                        clearTimeout(chat.typing_timeout);
                    }
                }, 2100, chat);
            },
            onMessageDelete: function(data) {
                console.log('OnMessageDelete Event Raising');

                console.log(data);

                data = JSON.parse(data);

                if (!this.messages[data.chatId]) {
                    console.log('Chat With Deleting Message Not Found');

                    return;
                }

                data.messageIds = data.messageIds.toString();

                const messageIds = data.messageIds.split(',').map((item) => { return parseInt(item); });

                console.log(messageIds);

                this.messages[data.chatId] = this.messages[data.chatId].filter((item) => {
                    return !messageIds.includes(item.id);
                });

                if (this.currentChat && parseInt(data.chatId) == this.currentChat.chat_id) {
                    this.currentMessages = this.messages[data.chatId];
                }

                this.onScrollBar();
            },
            /**
             * Call when message typing
             **/
            typing: _.throttle(function() {
                    console.log('Typing Event Call');

                    if (!this.currentChat) {
                        console.log('On Typing Event currentChat is null');
                        return;
                    }

                    CinderellaChatSocketIO.emit(this.$options.socketEvents.TYPING, JSON.stringify({
                        userId: this.currentChat.user_id,
                        senderId: window.currentUserId
                    }));
                }, 2000),
            /**
             * Sending new message to chat
             *
             * @param {string} message
             **/
            sendMessage: function(message, event) {
                event.preventDefault();
                if (!this.currentChat) {
                    return;
                }

                this.messageText = document.querySelector('.message-box').innerHTML;

                if (this.isMessageEditing) {
                    console.log('EditMessage Send');

                    CinderellaChatSocketIO.emit(this.$options.socketEvents.EDIT_MESSAGE, JSON.stringify({
                        messageId: this.editedMessageId,
                        text: this.messageText
                    }));

                    this.isMessageEditing = false;
                    this.editedMessageId = -1;

                    this.messageText = '';
                    document.querySelector('.message-box').innerHTML = '';

                    return;
                }

                let send = () => {
                    CinderellaChatSocketIO.emit(this.$options.socketEvents.SEND_MESSAGE, JSON.stringify({
                        chatId: this.currentChat.chat_id,
                        userId: this.currentChat.user_id,
                        senderId: window.currentUserId,
                        message: message
                    }));

                    console.log('Seinding Message To: ' + this.currentChat.user_id);

                    this.messageText = '';
                    document.querySelector('.message-box').innerHTML = '';

                    this.scrollDownMessages();
                };

                if (!this.currentChat.is_real) {
                    this.createChatByApi.call(this, (chat) => {
                        this.currentChat.is_real = true;
                        this.currentChat.chat_id = chat.id;

                        console.log('Chat Created And Message Sends');

                        send();
                    });

                    return;
                }

                console.log('Send Message To An Existance Chat');

                send();
                this.scrollDownMessages();
            },
            /**
             * Receiving new message in chat
             *
             * @param {string} data
             **/
            newMessage: function (data) {
                //console.log('NewMessage Event Call');

                data = JSON.parse(data);

                let message = {
                    id: data.model.id,
                    user_id: data.model.user_id,
                    user_name: data.user.name,
                    created_at: data.model.created_at,
                    text: data.model.message,
                    status: data.model.status,
                    avatar: data.user.avatar_src ? data.user.avatar_src :
                            data.user.gender == 'male' ? this.default_male_avatar : this.default_female_avatar,
                };

                if (!this.messages[data.model.chat_id]) {
                    this.messages[data.model.chat_id] = [];
                }

                this.messages[data.model.chat_id].push(message);

                const chatIndex = this.getChatIndexById(data.model.chat_id);

                if (chatIndex == -1) {
                    console.log('Chat Index Not Found');
                    return;
                }

                if (message.user_id != window.currentUserId) {
                    //Send notification
                    this.sendNotification(message);
                }

                console.log(data);

                if (data.model.user_id != window.currentUserId && !this.chats[chatIndex]) {
                    this.chats.unshift({
                        user_id: data.model.user_id,
                        chat_id: data.model.chat_id,
                        user_name: data.user.name,
                        online: data.user.is_online,
                        gender: data.user.gender,
                        avatar: data.user.avatar_src ? data.user.avatar_src :
                                data.user.gender == 'male' ? this.default_male_avatar : this.default_female_avatar,
                        last_seen: data.user.updated_at,
                        typing: false,
                        folder_id: [0],
                        unread_count: 0,
                        is_selected: false,
                        comment: '',
                        is_real: true,
                        typing_timeout: null
                    });
                }

                if (this.currentChat && data.model.chat_id == this.currentChat.chat_id) {
                    this.currentMessages = this.messages[this.currentChat.chat_id];

                    CinderellaChatSocketIO.emit(this.$options.socketEvents.READ_MESSAGE, JSON.stringify({chatId: data.model.chat_id}));
                } else if (data.model.user_id != window.currentUserId){
                    this.chats[chatIndex].unread_count++;
                }

                //move up dialog
                const chatId = data.model.chat_id;
//                this.chats = this.chats.sort(function(x, y){ return x.chat_id == chatId ? -1 : y.chat_id == chatId ? 1 : 0; });

                let clone = this.chats.map((item) => { return item; });
                this.chats = this.chats.filter((item) => { return item.chat_id != chatId; });
                this.chats.unshift(clone[chatIndex]);

            },
            onMessageEdited: function(data) {
                console.log('OnMessageEdited Event Raised');

                console.log(data);

                data = JSON.parse(data);

                const index = this.getChatIndexById(data.chatId);

                if (index == -1) {
                    console.log('Chat Not Found');
                    return;
                }

                if (!this.messages[data.chatId]) {
                    console.log('ChatMessagesNotFound');
                    return
                }

                for (let message of this.messages[data.chatId]) {
                    if (message.id == data.messageId) {
                        message.text = data.message;
                    }
                }

                if (this.currentChat && data.chatId == this.currentChat.chat_id) {
                    this.currentMessages = this.messages[data.chatId];
                }
            },
            textChanged: function (e) {
                let keyCode = e.keyCode || e.charCode || e.which,
                    t = event.currentTarget.innerHTML.trim();


                if (keyCode === 10 || keyCode === 13) {
                    if (e.ctrlKey) {
                        let selection = window.getSelection(),
                            node = selection.anchorNode,
                            range = selection.getRangeAt(0),
                            br = document.createElement("br"),
                            textNode = document.createTextNode("\u00a0");
                        range.deleteContents();//required or not?
                        range.insertNode(br);
                        range.collapse(false);
                        range.insertNode(textNode);
                        range.selectNodeContents(textNode);
                        selection.removeAllRanges();
                        selection.addRange(range);
                        return false;
                    }
                }

                this.messageText = t;

            },

            selectMessage: function (elem) {
                if (elem.user_id != window.currentUserId) {
                    return;
                }

                let s = this.selectedMessages,
                    i = s.indexOf(elem);

                if(i > -1 ) {
                    s.splice(i,1);
                } else {
                    s.push(elem);
                }
            },
            clearSelected: function () {
                this.selectedMessages = [];
            },
            deleteMessage: function () {
                console.log('DeleteMessage Call');

                let messageIds;

                if (this.selectedMessages.length == 1) {
                    messageIds = this.selectedMessages[0].id;
                } else {
                    messageIds = this.selectedMessages.reduce((sum, current) => {
                        return sum + ',' + current.id.toString();
                    }, this.selectedMessages[0].id.toString());
                }

                console.log(messageIds);

                this.clearSelected();

                CinderellaChatSocketIO.emit(this.$options.socketEvents.DELETE_MESSAGE, JSON.stringify({messageIds: messageIds}));
            },
            editMessage: function () {
                console.log("EditMessage Call");

                let message = this.selectedMessages[0];

                let text = message.text;
                const id = message.id;

                this.clearSelected();
                this.messageText = message.text;

                document.querySelector('.message-box').innerHTML = message.text;

                this.isMessageEditing = true;
                this.editedMessageId = id;
            },
            //Folders
            isFolderDefault: function () {
                let s = this.folder_selected,
                    f = this.folder_options,
                    isDefault = true;

                f.forEach(function (elem) {
                    if(elem.id == s) {
                        isDefault = elem.is_default;
                    }
                });

                return isDefault;
            },
            removeFolder: function () {
                let s = this.folder_selected,
                    f = this.folder_options,
                    $this = this;

                f.forEach(function (elem) {
                    if(elem.id == s && $this.isFolderDefault() !== true) {
                        let index = f.indexOf(elem);
                        if(index > -1) {
                            f.splice(index,1);
                        }
                    }
                });
            },
            folderChange: function () {
                if(this.isFolderDefault() === true) {
                    this.show_folder_controls = false;
                }
                else {
                    this.show_folder_controls = true;
                }
                console.log('Folder selected' + this.folder_selected);
            },
            openFolderInput: function (isEdit) {
                let s = parseInt(this.folder_selected),
                    f = this.folder_options,
                    edit = 0;

                function getSelected() {
                    let t = '';
                    f.forEach(function (elem) {
                        if (elem.id === s) {
                            t = elem.text;
                        }
                    });
                    return t;
                }

                this.isEditOpen = true;
                if(isEdit) {
                    this.folderEditField = getSelected();
                    this.isFolderEdit = true;
                }
                else {
                    this.folderEditField = '';
                    this.isFolderEdit = false;
                }
            },
            updateFolder: function () {
                let e = this.folderEditField.replace(/\s{2,}/g, ' '),
                    f = this.folder_options,
                    l = f.length,
                    s = '',
                    c = 0;

                console.log('Check edit: ' + this.isFolderEdit);

                if(this.isFolderEdit === true) s = parseInt(this.folder_selected);
                console.log('s: ' + s);
                f.some(function (elem) {
                    if(elem.id === s && elem.text !== e) {
                        return elem.text = e;
                    }
                    else if(elem.text !== e) {
                        c ++;
                    }
                });
                this.isEditOpen = false;
                if (c === l) {
                    return f.push({
                        id: l + 1,
                        text: e
                    });
                }
                e = '';
            },
            //Users
            selectUsers: function (elem) {
                let s = this.selectedUsers,
                    i = s.indexOf(elem);
                if(i > -1 ) {
                    s.splice(i,1);
                }

                else {
                    s.push(elem);
                }

                if(s.length === 0) {
                    this.folder_selected = 0;
                }
            },
            removeUser: function () {
                let u = this.chats,
                    s = this.selectedUsers;

                s.forEach(function (value) {
                    let index = u.indexOf(value);
                    u.splice(index,1);
                });
                this.selectedUsers = [];
            },
            changeFolder: function (folder, remove) {
                let u = this.chats,
                    fs = parseInt(this.folder_selected),
                    us = this.selectedUsers,
                    f = folder,
                    r = remove,
                    i;

                if(f && f !== undefined && f !== '') fs = f;

                us.forEach(function (elem) {
                    if(r === true) {
                        i = elem.folder_id.indexOf(fs) !== -1
                    }
                    else {
                        i = elem.folder_id.indexOf(fs) === -1;
                    }

                    if(i) {
                        let $i = u.indexOf(elem); // index selected in dialog users
                        if(f !== undefined) u[$i].folder_id = [];
                        r !== true ? u[$i].folder_id.push(fs) : u[$i].folder_id.splice(fs);
                    }
                });

                this.folder_selected = 0;
                this.selectedUsers = [];
            },
            //User notes
            userNoteInputToggle: function (open) {
                this.isUnEdit ? this.isUnEdit = false : this.isUnEdit = true;
                open === true && this.currentChat && this.currentChat.comment !== undefined ? this.userNoteText = this.currentChat.comment : '';
            },
            rechargeTooltip(){
                $('.user-notes').attr('data-original-title',  this.currentChat.comment).tooltip();
            },
            addUserNote: function(text){
                /* Send function */
                this.currentChat.comment = text;
                this.isUnEdit = false;

                this.createCommentToUser(this.currentChat.user_id, text);
            },
            //Smiles
            openSmilesToggle: function () {
                this.openSmiles ? this.openSmiles = false : this.openSmiles = true;
            },
            //Scroll
            scrollDownMessages: function () {
                let e = this.$refs.messagesList,
                    h = document.querySelector('.chat-dialog-area .scroll-me').clientHeight;
                e.scrollToY(h);
                this.showScrollButton = false;
            },
            onScrollBar: function (event) {
                if(event) {
                    let elem = event.currentTarget,
                        area = elem.parentNode,
                        wrapper = area.parentNode,
                        areaPos = parseInt(area.style.marginTop, 10),
                        wrapperPos = parseInt(wrapper.clientHeight, 10) - areaPos;

                    if (areaPos === 0) {
                        this.$emit('chatTop');
                    }

                    if(wrapperPos === elem.clientHeight) {
                        this.$emit('chatBottom');
                    }

                    //console.log('areaPos: ' + areaPos);
                    //console.log('wrapperPos: ' + wrapperPos);

                    // Show/Hide scroll button
                    if(wrapperPos + 100 <= elem.clientHeight) {
                        this.showScrollButton = true;
                    }
                    else {
                        this.showScrollButton = false;
                    }
                }
            },
            recalcScroll: function () {
                let $this = this,
                    s = document.querySelector('.chat-dialog-area .vue-scrollbar__area');
                $this.showMessages = false;
                s.style.marginTop = 0;
                setTimeout(function () {
                    $this.showMessages = true;
                },100)
            },
            updateAllUnread: function () {

            },
            sendNotification: function (message) {
                console.log('SendNotification Call');
                console.log('ShowChatModal Is ' + this.showChatModal);

                if(!this.showChatModal) {
                    let m = message,
                    n = this.messagesNotifications;

                    n.push(m);
                    if(n.length > 3) {
                        n.splice(-1,1);
                    }
                    mainApp.$emit('new-message-notification', n);
                }
            }
        }
    }
</script>