<template>
    <div class="chat-notify">
        <ul class="chat-notify-list">
            <li class="chat-list-item" v-for="notify in notifications">
                <div class="chat-list-item-photo">
                    <div class="chat-list-item-photo-hover">
                        <i class="fa fa-check-circle"></i>
                    </div>
                    <img v-bind:src="notify.avatar" alt="">
                </div>
                <div class="chat-list-item-header">
                    <div class="chat-list-item-name">
                        <span class="name">{{notify.user_name}}</span>
                    </div>
                    <div class="chat-list-item-date">{{notify.created_at}}</div>
                </div>
                <div class="chat-list-item-cont">
                    <div class="chat-list-item-txt">
                        <div>{{notify.text}}</div>
                    </div>
                </div>
            </li><!--.chat- notification-->
        </ul>
    </div>
</template>
<script>
    import mainApp from '../mainHub.js'

    export default {
        data() {
            return {
                notifications: []
            }
        },
        mounted() {
            let $this = this,
                n = this.notifications;

            mainApp.$on('new-message-notification', function (e) {
                $this.getNotify(e);
            });
        },
        methods: {
            getNotify: function (e) {
                this.notifications = e;

                let n = this.notifications;

                let interval;

                console.log('Notifications Length: ' + n.length);

                if(n.length > 0) {
                    interval = setInterval(function () {
                        console.log('Notification Clear Interval Call');
                        n.splice(-1,1);

                        if (n.length == 0) {
                            clearInterval(interval);
                        }
                    }, 5000);
                }

                console.log('This notifications: ' + e);
            }
        }
    }
</script>