<template>
    <div class="col-md-12">
        <div class="row" v-for="photo in photos" :key="photo.id">
            <div class="col-sm-6 col-md-4 col-lg-3"><img :src="photo.filename" alt="" /> </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ViewPhotos',
        methods: {

        }
    }
</script>
<style></style>