//= template/head.html
<link rel="stylesheet" href="css/lib/lobipanel/lobipanel.min.css">
<link rel="stylesheet" href="css/separate/vendor/lobipanel.min.css">
<link rel="stylesheet" href="css/lib/jqueryui/jquery-ui.min.css">
<link rel="stylesheet" href="css/separate/pages/widgets.min.css">
<link rel="stylesheet" href="css/separate/vendor/fancybox.min.css">
<link rel="stylesheet" href="css/separate/pages/profile-2.min.css">
<link rel="stylesheet" href="css/separate/elements/ribbons.min.css">
<link rel="stylesheet" href="css/separate/pages/user.min.css">
<link rel="stylesheet" href="css/separate/vendor/select2.min.css">
<link rel="stylesheet" href="css/lib/ion-range-slider/ion.rangeSlider.css">
<link rel="stylesheet" href="css/lib/ion-range-slider/ion.rangeSlider.skinHTML5.css">
//= template/head-end.html
<body class="without-left-menu theme-picton-blue-white-ebony">

	//= template/header-logo-inverse.html

	//= template/users-list_content.html

	//= template/footer.html

	<script type="text/javascript" src="js/lib/jqueryui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/lib/lobipanel/lobipanel.min.js"></script>
	<script type="text/javascript" src="js/lib/match-height/jquery.matchHeight.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


	<script src="js/lib/salvattore/salvattore.min.js"></script>
	<script src="js/lib/ion-range-slider/ion.rangeSlider.js"></script>
	<script src="js/lib/fancybox/jquery.fancybox.pack.js"></script>
	<script src="js/lib/select2/select2.full.min.js"></script>

	<script>
        $(document).ready(function() {
            $('.panel').lobiPanel({
                sortable: true
            });
            $('.panel').on('dragged.lobiPanel', function(ev, lobiPanel){
                $('.dahsboard-column').matchHeight();
            });

			/* User page scripts */

            $(".fancybox").fancybox({
                padding: 0,
                openEffect	: 'none',
                closeEffect	: 'none'
            });

            $("#range-slider-5").ionRangeSlider({
                from: 18,
                to: 35,
                min: 18,
                max: 60,
                type: 'double'
            });
        });
	</script>
//= template/foot.html
